<div *ngIf="betForm">
<form novalidate [formGroup]="betForm" #cform="ngForm" (ngSubmit)="onSubmit()">
  <p>
    <label>Kurs:
      <span>{{currentBetRate}}</span>
    </label>
  </p>
  <p>
    <mat-form-field>
      <label>Stawka:
        <input matInput type="number" formControlName="price">
      </label>
    </mat-form-field>
  </p>
  <mat-form-field>
    <label>Zespół:
      <mat-select disableOptionCentering formControlName="picked_team">
        <mat-option *ngFor="let team of teams" [value]="team">{{team}}</mat-option>
      </mat-select>
    </label>
  </mat-form-field>
  <p>
    <label>Przewidywana wygrana:
        <span>{{winValue}} zł</span>
    </label>
  </p>
  <button type="submit" mat-stroked-button class="background-primary text-floral-white" [disabled]="betForm.invalid">Submit</button>
</form>
</div>