<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px" class="container">
    <div class="spinner-container" *ngIf="betsDataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
    <mat-paginator class="bets-paginator" [length]="betsCount" [pageSize]="15" #pag></mat-paginator>
    <table mat-table [dataSource]="betsDataSource" class="bets-history-table mat-elevation-z8">
        <ng-container matColumnDef="created_date">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element">{{element.created_date | date:'short'}}</td>
        </ng-container>
        <ng-container matColumnDef="picked_team">
            <th mat-header-cell *matHeaderCellDef> Wybrany wynik </th>
            <td mat-cell *matCellDef="let element">{{getTeamName(element.picked_team)}}</td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Kwota zakładu </th>
            <td mat-cell *matCellDef="let element">{{element.price | number: '.2'}} zł</td>
        </ng-container>
        <ng-container matColumnDef="reward">
            <th mat-header-cell *matHeaderCellDef> Wygrana </th>
            <td mat-cell *matCellDef="let element">{{element.reward | number: '.2'}} zł</td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">{{element.status | status }} </td>
        </ng-container>
        <ng-container matColumnDef="score_1">
            <th mat-header-cell *matHeaderCellDef>Wynik zespołu 1</th>
            <td mat-cell *matCellDef="let element">{{element.match.score_team_one}}</td>
        </ng-container>
        <ng-container matColumnDef="score_2">
            <th mat-header-cell *matHeaderCellDef>Wynik zespołu 2</th>
            <td mat-cell *matCellDef="let element">{{element.match.score_team_two}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
