<mat-toolbar color="primary">
  <a mat-button routerLink="/matches" routerLinkActive="active">Mecze</a>
  <a *ngIf="!username" mat-button routerLink="/register" routerLinkActive="active">Rejestracja</a>
  <a *ngIf="username" mat-button routerLink="/account" routerLinkActive="active">Rachunek</a>
  <a *ngIf="username" mat-button routerLink="/bets" routerLinkActive="active">Aktywne Zakłady</a>
  <a *ngIf="username" mat-button routerLink="/bets-history" routerLinkActive="active">Historia Zkaładów</a>
  <span class="fill-remaining-space"></span>
  <a *ngIf="!username" mat-button (click)="openLoginForm()">Zaloguj</a>
  <a *ngIf="username">{{username}}</a>
  <a *ngIf="username" mat-button (click)="logOut()">Wyloguj</a>  
</mat-toolbar>

<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

</div>