<mat-toolbar color="primary">
  <a mat-button routerLink="/matches" routerLinkActive="active">Matches</a>
  <a mat-button routerLink="/account" routerLinkActive="active">Account</a>
  <a mat-button routerLink="/bets" routerLinkActive="active">Bets</a>
  <a mat-button routerLink="/register" routerLinkActive="active">Register</a>
  <span class="fill-remaining-space"></span>
  <a *ngIf="!username" mat-button (click)="openLoginForm()">Login</a>
  <a *ngIf="username">{{username}}</a>
  <a *ngIf="username" mat-button (click)="logOut()">Logout</a>  
</mat-toolbar>

<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

</div>