<div class="container" fxLeyout="column" fxLayoutAlign="center">
  <mat-tab-group>
  <mat-tab label="Register">
  <div fxFlex="80" fxFlexAlign="center" fxLayoutGap="20px">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field>
        <input matInput type="text" formControlName="username" placeholder="Username">
        <mat-error>Username is required</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput type="text" formControlName="email" placeholder="Email">
        <mat-error>Invalid email address</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput type="password" formControlName="password1" placeholder="Password">
        <mat-error>Password is required</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput type="password" formControlName="password2" placeholder="Confirm Password">
        <mat-error>Passwords do not match</mat-error>
      </mat-form-field>
    </p>
    <re-captcha formControlName="captcha_token"></re-captcha>
    <button type="submit" mat-stroked-button [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
</mat-tab>
<mat-tab label="Login">
    <div fxFlex="80" fxFlexAlign="center" fxLayoutGap="20px">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <p>
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" placeholder="Username" #username="ngModel">
          <mat-error>Username is required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="Password" #password="ngModel">
          <mat-error>Password is required</mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-stroked-button [disabled]="loginForm.invalid">Login</button>
    </form>
    </div>
</mat-tab>
</mat-tab-group>
</div>