<div class="container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
    <div class="matches-search-panel">
        <form class="matches-form">
            <p>
                <mat-form-field>
                    <input type="text" placeholder="Wyszukaj zespół" matInput [formControl]="teamControl"
                        [matAutocomplete]="autoTeam">
                    <mat-autocomplete #autoTeam="matAutocomplete">
                        <mat-option *ngFor="let team of filteredTeams | async" [value]="team" (onSelectionChange)='setTeam(team)'>
                            {{team}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" placeholder="Wyszukaj ligę" matInput [formControl]="leagueControl"
                        [matAutocomplete]="autoLeague">
                    <mat-autocomplete #autoLeague="matAutocomplete">
                        <mat-option *ngFor="let league of filteredLeagues | async" [value]="league" (onSelectionChange)='setLeague(league)'>
                            {{league}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </p>
            <button mat-stroked-button (click)="clearFilters()">Wyczyść filtry</button>
        </form>
        <p></p>
        <mat-slide-toggle [(ngModel)]="available" [checked]="checked" (change)="setAvailable()">
            Pokaż mecze historyczne
        </mat-slide-toggle>
    </div>
    <div fxLayout="column" class="matches-data-view">
        <div class="spinner-container" *ngIf="matches.loading$ | async">
            <mat-spinner></mat-spinner>
        </div>
        <div [hidden]="!matches.loading$">
            <mat-paginator class="matches-paginator" [length]="matchesCount" [pageSize]="15"></mat-paginator>
            <mat-table class="matches-table mat-elevation-z9" [dataSource]="matches">
                <ng-container matColumnDef="league">
                    <th mat-header-cell *matHeaderCellDef> Liga </th>
                    <td mat-cell *matCellDef="let row"> {{row.league}} </td>
                </ng-container>
                <ng-container matColumnDef="team_one">
                    <th mat-header-cell *matHeaderCellDef> Zespół Pierwszy </th>
                    <td mat-cell *matCellDef="let row"> {{row.team_one}} </td>
                </ng-container>
                <ng-container matColumnDef="team_two">
                    <th mat-header-cell *matHeaderCellDef> Zespół Drugi</th>
                    <td mat-cell *matCellDef="let row"> {{row.team_two}} </td>
                </ng-container>
                <ng-container matColumnDef="exchange">
                    <th mat-header-cell *matHeaderCellDef> Kurs </th>
                    <td mat-cell *matCellDef="let row"> {{row.team_one_win_exchange}} : {{row.team_two_win_exchange}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="play_date">
                    <th mat-header-cell *matHeaderCellDef> Data Spotkania </th>
                    <td mat-cell *matCellDef="let row"> {{row.play_date | date:'medium'}}</td>
                </ng-container>
                <ng-container matColumnDef="score_team_one">
                    <th mat-header-cell *matHeaderCellDef> Wynik zespołu 1 </th>
                    <td mat-cell *matCellDef="let row"> {{row.score_team_one}}</td>
                </ng-container>
                <ng-container matColumnDef="score_team_two">
                    <th mat-header-cell *matHeaderCellDef> Wynik zespołu 2 </th>
                    <td mat-cell *matCellDef="let row"> {{row.score_team_two}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (click)='selectMatch(row)'></tr>
            </mat-table>
        </div>
    </div>
</div>