<div *ngIf="match">
  <h2>{{match.team_one | uppercase}} vs {{match.team_two | uppercase}}</h2>
  <div><span>id: </span>{{match.id}}</div>
  <div><span>liga: </span>{{match.league}}</div>
</div>

<div *ngIf='comments'>
  <ul class="comments">
    <li *ngFor="let comment of comments">
      <span class="comment">Autor: {{comment.author}}<br></span>{{comment.content}}
    </li>
  </ul>
  <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field class="full-width">
        <textarea matInput formControlName="content" placeholder="Your Comment" rows=4></textarea>
        <mat-hint>
          <span [hidden]="!(formErrors.comment)">
                    {{formErrors.comment}}</span>
        </mat-hint>
      </mat-form-field>
    </p>
    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
  </form>
</div>